body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.main-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  min-width: 70%;
  min-height: 100%;
  background-color: rgb(246, 246, 246)
}

.header {
  align-self: flex-start
}

.created-by {
  margin-top: 2em;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: fit-content;
}

.created-by h2 {
  font-size: 2em;
}

.selection {
  margin-top: 2em;
  width: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.stock-inputs {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  gap: 80px;
}

.stock-inputs input {
  height: 2em;
  font-size: 2em;
  box-sizing: border-box;
  text-align: center;
  width: 8em;
}

.stock-inputs input::placeholder {
  text-align: center;
}

.stock-inputs input:focus::placeholder {
  color: transparent;
}

.invest_options {
  width: 100%;

}

.invest_options select {
  width: 100%;
  font-size: 2em;
  padding: 10px;
  margin-top: 10px;
}

.suggestions {
  background-color: beige;
  width: 100%;
}

@media (max-width: 1000px) {
  .main-content {
    min-width: 100%;
  }
}


